* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    margin: auto;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    color: black;
    background-color: #ffffff;
    min-width: 320px;
}

ul{
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: #4a4a4a;
}

html, body {
    height: 100%;
}

h2 {
    text-align: center;
    padding-top: 10px;
}

/* Header */


nav {
    font-family: "Roboto", Arial, Verdana;
    font-weight: 400;

    background-color: #fafafa;
    padding: 25px;
}

h1, .top-nav {
    text-align: center;
}

.top-nav, .top-nav li{
    width: 100%;
}

h1 a, .top-nav a {
    color: #000500;
}

.top-nav {
    margin-top: 30px;
}

.top-nav li {
    padding: 10px 0;
    margin: 5px auto;
    background-color: #ffffff;
    font-weight: bold;
}

.top-nav a {
    text-transform: uppercase;
}

#profile {
    max-width: 100%;
    padding: 25px;
}

nav p {
    letter-spacing: normal;
    align-content: flex-start;
}


/* Content */


.container {
    max-width: 1100px;
    padding: 10px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.col {
    margin: 10px;
    min-height: 250px;
    color: #4a4a4a;
    text-align: center;
    padding-top: 0px; 
}

.container img {
    width: 100%;
    padding: -5px;
}

.container h3{
    padding: 10px;
}

.container p{
    padding-bottom: 5px;
}

.box-1{
    background-color: #ffffff;
}

.box-2{
    background-color: #ffffff;
}

.box-3{
    background-color: #ffffff;
}

.box-4{
    background-color: #ffffff;
}

.box-5{
    background-color: #ffffff;
}

.box-6{
    background-color: #ffffff;
}

p {
    padding: 0px 5px 5px;
}


/* Footer */

#contact{
    display: flex;
    color: #4a4a4a;
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding-bottom: 20px;
    background-color: #fafafa;
}

#contact h3 {
    text-align: center;
    padding: 2px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    padding: 0 20px;
    height: 100px;
    background-color: #fafafa;
}

.full {
    display: none;
}

/* Mid Size Screen > 768px */


@media (min-width: 786px) {
    .top-nav{
        margin-top: 0;
    }

    .top-nav li {
        display: inline-block;
        width: auto;
        margin-right: 15px;
        background-color: transparent;
    }

    .top-nav li:last-child {
        margin-right: 0;
    }

    .top-nav a {
        color: #fff;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
    }

    .col {
        flex-basis: calc(50% - 20px);
    }

    .top {
        display: none;
    }

    .full {
        display: inline-block;
        margin-left: 20px;
    }
    
}


/* Wide Screen > 1024px*/


@media (min-width: 1024px) {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .top-nav,
    .top-nav li {
        width: initial;
        margin-bottom: 0;
    }

    .col {
        flex-basis: calc(33.333% - 20px);
    }
}